<div class="search-container">
  <div class="filters">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="searchProducts()"
      [placeholder]="getCurrentText(catalogMocks.searchPlaceholder)"
    />

    <div class="category-filter-actions">
      <button class="select-categories-button" (click)="openCategoryModal()">
        {{ getCurrentText(catalogMocks.selectCategoriesButton) }}
      </button>
      <button class="clear" (click)="clearFilters()">
        {{ getCurrentText(catalogMocks.clearFiltersButton) }}
      </button>
    </div>
  </div>

  <div class="results">
    @if (filteredProducts.length > 0) {
    <div class="product-grid">
      @for (product of filteredProducts; track product.id) {
      <div class="product-card">
        <img
          [src]="'assets/imgs/products/' + product.image"
          [alt]="getCurrentText(product.name)"
          [routerLink]="[
            '/',
            languageService.getCurrentLanguageCode(),
            'product',
            product.id
          ]"
        />
        <div class="product-info">
          <h3
            [routerLink]="[
              '/',
              languageService.getCurrentLanguageCode(),
              'product',
              product.id
            ]"
          >
            {{ getCurrentText(product.name) }}
          </h3>
          <div class="price-info">
            <span class="best-price">
              {{ getCurrentText(catalogMocks.bestPriceLabel) }}
              <strong>{{ getLowestPrice(product).price.toFixed(2) }} ₾</strong>
              ({{ getLowestPrice(product).market }})
            </span>
          </div>
          <button class="add-to-cart" (click)="addToCart(product, $event)">
            {{ getCurrentText(catalogMocks.addToCartButton) }}
          </button>
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="no-results">
      {{ getCurrentText(catalogMocks.noResultsMessage) }}
    </div>
    }
  </div>

  @if (showCategoryModal) {
  <div class="modal-overlay" (click)="closeCategoryModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>{{ getCurrentText(catalogMocks.selectCategoriesButton) }}</h2>
      <div class="category-checkboxes">
        @for (category of categories; track category.id) {
        <label>
          <input
            type="checkbox"
            [value]="category.id"
            (change)="onCategoryCheckboxChange($event)"
            [checked]="selectedCategories.includes(category.id)"
          />
          {{ getCurrentText(category.name) }}
        </label>
        }
      </div>
      <button class="apply-filters-button" (click)="applyCategoryFilters()">
        {{ getCurrentText(catalogMocks.applyFiltersButton) }}
      </button>
      <button class="close-modal-button" (click)="closeCategoryModal()">
        ✖
      </button>
    </div>
  </div>
  }
</div>
